.cours {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr; 
    padding: 1em;
}

/*=================================== MEDIAS QUERIES =============================*/

// ---------------------------- Mobile
@include media(mobile) {
    .cours {
        grid-template-columns: 1fr 1fr; 
    }
}

// ---------------------------- Tablet
@include media(tablet) {
    .cours {
        grid-template-columns: 1fr 1fr 1fr; 
    }
}

// ---------------------------- Desktop
@include media(desktop) {
    .cours {
        grid-template-columns: 1fr 1fr 1fr 1fr; 
    }
}

// ---------------------------- WIDE
@include media(wide) {
    .cours {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    }
}